<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silk Path - Интернет-магазин модной одежды</title>
    <link rel="stylesheet" href="style/style.css">
    <header class="header">
        <div class="header-top">
            <div class="logo-container">
                <img src="img/trans_bg 1.svg" alt="Логотип" class="logo">
                <h1 class="store-name">Одежда - это второе лицо женщины, которое говорит о ней больше, чем первое</h1>
            </div>
            <div class="auth-buttons">
                <button id="showModalBtn" class="login-btn">Войти</button>
                <button  id="showModalReg" class="register-btn" >Регистрация</button>
            </div>
        </div>
        
    </header>

</head>

<body>
    <section class="sticky_nav">
        <nav class="nav-menu">
            <a href="index.html" >Главная</a>
            <a href="products.html" >Продукты</a>
            <a href="uslugs.html">Услуги</a>
            <a href="news.html">Новости</a>
            <a href="contacts.html">Контакты</a>
            <a href="about_us.html" class="active">О нас</a>
        </nav>
    </section>
    
    <div class="main-content">
        
        <main class="content">
                        
            <section class="about-section">
                <h2 class="section-title">О нашей организации Silk Path</h2>
                <div class="about_us">
                <img src="img/блуза.jpg" alt="Акция 1" width="300" height="300">
                <p>
                    Мы молодая организация под названием Silk Path, что обозначает Шелковый путь, то есть путь к поиску своего стиля, вида и вкуса жизни. 
                    <br>Одежда создает наш вид, воплощает наши личность и характер. 
                    <br>Мы - женщины, должны уметь подобрать золотую середину в своем облике, чтобы быть во истину прекрасными. 
                    <br>Мы - ведущий интернет-магазин модной одежды, предлагающий широкий ассортимент качественных товаров по доступным ценам. 
                    <br>В нашем магазине Вы найдете одежду для всей семьи, аксессуары и многое другое.
                    <br>Мы работаем только с проверенными поставщиками и гарантируем качество всей нашей продукции. 
                    <br>Быстрая доставка по всей стране и удобные способы оплаты сделают Ваши покупки еще приятнее.
                    <br>А еще мы продаем качественную, дышащую и гипоаллергенную одежду, которая будет не только прекрасно выглядеть на Ваших детях, но и поддерживать их здоровье
                </div>
                
            </section>
            
            
        </main>
    </div>
    

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section footer-address">
                <h3 class="footer-title">Наш адрес</h3>
                <p>г. Ростов-на-Дону, ул. Мира 8, кв 23</p>
                <p>Часы работы: 10:00 - 21:00</p>
            </div>
            
            <div class="footer-section footer-contacts">
                <h3 class="footer-title">Контакты</h3>
                <p>Телефон: +7 (123) 456-78-90</p>
                <p>Email: sofiya@silk-path.ru</p>
            </div>
            
            <div class="footer-section footer-social">
                <h3 class="footer-title">Мы в соцсетях</h3>
                <div class="social-icons">
                    <a href="#"><i>VK</i></a>
                    <a href="#"><i>Whatsapp</i></a>
                    <a href="#"><i>Telegram</i></a>
                    <a href="#"><i>Rutube</i></a>
                </div>
                <p>Подпишитесь на наши новости и акции</p>
            </div>
        </div>
        
        <div class="copyright">
            <p> 2025 SilkPath</p>
        </div>
    </footer>
    <div class="modal-overlay" id="modalOverlay" style="display: none;">
        <div class="modal">
            <div class="modal-header">
                <h2>Вход</h2>
            </div>
            <form id="loginForm">
                <div class="form-group">
                    <label for="username">Логин</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="error-message" id="errorMessage">
                    Неверный пароль, повторите попытку.
                </div>
                <button type="submit" class="login-button">Вход</button>
            </form>
        </div>
    </div>    
    <script src="script/script.js"></script>
</body>
</html>